@charset "UTF-8";
/* CSS Document */

h1 {
	font-family: 'Share Tech Mono', sans-serif;	
}

h3 {
	font-family: 'The Girl Next Door', cursive;
}

p {
	font-family: 'Ubuntu Mono', sans-serif;
}

a {
  text-decoration : none;
  color : #64797E;
}

ul {
  list-style : none;
  size : 70px;
  padding : 10px;
  margin : 10px;
}

li {
  display : inline;
  padding : 0 10px;
  font-family: 'Ubuntu Mono', sans-serif;
}

.prices {
  display : list;
  font-family: 'Share Tech Mono', sans-serif;
  color : #C1CCA1;
  font-size : .75em;
  list-style : none;	
}

img {
	width : 960px; 
	height : 719px;
}

input {
  font-size : inherit;
}

input[type="text"] {
  display : block;
  margin-bottom : 15px;
  padding : 10px;
  width : 250px;
  border : 2px solid steelblue;
}

input[type="radio"] {
  margin :0 8px 25px 18px;
}
input[type="radio"]:first-child {
  margin-left: 0;
}

input[type="submit"] {
  width : 100px;
  height : 40px;
  border : none;
  background : steelblue;
  color : white;
  font-size : inherit;
}


/*header {
	background : url('../img/ferris.jpg');
	background-image : 960px 719px;
}*/